openapi: "3.0.0"
info:
    version: "0.1.0"
    title: "CodeConnect"
    description: "CodeConnect API"
servers:
    - url: "https://api.codeconnect.io"
paths:
    /problems:
        post:
            summary: "Create a problem."
            operationId: "createProblem"
            description: |
                Create a question by inputting work, required skills, preferences, and experience.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - requirements
                                - time_limit
                            properties:
                                requirements:
                                    type: string
                                    description: "Requirements for the problem."
                                    example: "Create a website that allows users to upload images."
                                time_limit:
                                    type: string
                                    description: |
                                        Time limit for the problem.
                                        You can specify the time limit in the following format.
                                        - `1h` : 1 hour
                                        - `1d` : 1 day
                                        - `1w` : 1 week
                                    example: "1d"
            responses:
                "202":
                    description: "Problem creation request is accepted. You can get the problem ID from the response."
                    content:
                        application/json:
                            schema:
                                required:
                                    - request_id
                                properties:
                                    request_id:
                                        $ref: "#/components/schemas/request_id"
                "400":
                    description: "Required content is missing, or the wrong data type has been sent."
                    content:
                        application/json:
                            schema:
                                required:
                                    - message
                                properties:
                                    message:
                                        type: string
                                        description: "Error message"
                                        example: "`id` field is required"
                default:
                    description: "Unexpected error"
    /problems/{request_id}:
        parameters:
            - name: request_id
              in: path
              required: true
              description: "ID of the problem creation request"
              schema:
                $ref: "#/components/schemas/request_id"
        get:
            summary: "Get a problem."
            operationId: "getProblem"
            description: |
                Search the created problem using the request code issued when creating the problem.
            responses:
                "200":
                    description: "Problem is found."
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - problem
                                properties:
                                    problem:
                                        $ref: "#/components/schemas/problem"
components:
    schemas:
        request_id:
            type: string
            description: This ID is given upon request. This ID allows the requested resource to be returned.
            example: 7a283d
        problem_id:
            type: string
            description: ID of the problem.
            example: 7a283d
        problem:
            type: object
            description: This is the problem that is returned.
            properties:
                problem_id:
                    $ref: "#/components/schemas/problem_id"
                title:
                    type: string
                    description: Title of the problem.
                    example: "Create a website"
                content:
                    type: string
                    description: Content of the problem.
                    example: "Create a website that allows users to upload images."
            required:
                - problem_id
                - title
                - content
