#root {
    /* max-width: 1280px; */
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    @apply font-Pretendard;
}

#header {
    height: 10%;
}
#body {
    height: 90%;
}